<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8" />
    <title></title>


    <!--&lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"-->
        <!--crossorigin="anonymous" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
          crossorigin="anonymous">
    <!--&lt;!&ndash; Latest compiled and minified JavaScript &ndash;&gt;-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"-->
    <!--integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"-->
    <!--crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" type="text/css" rel="stylesheet" />
    <link href="../static/css/login.css" th:href="@{/css/login.css}" type="text/css" rel="stylesheet" />




</head>

<body>
<th:block th:replace="fragments/navbar :: navbar">
</th:block>
<th:block th:replace="fragments/side-menu :: side-menu">
</th:block>

    <div class="box">
        <h2 class="login-heading">Login</h2>
        <form method="post" th:method="post" th:action="@{/login}">
            <div class="inputBox">
                <input type="text" name="username" id="userNameInput" required>
                <label>Username</label>
            </div>

            <div class="inputBox">
                <input type="Password" name="password" id="passwordInput" required>
                <label>Password</label>
            </div>
            <div class="checkBox">
                <input type="checkbox" name="remember-me" id="remember-me">
                <label>Remember me</label>
                <a class="forgottenPassword" href="#">Forgotten password</a>
            </div>
            <input type="submit" name="" value="Submit">
        </form>
    </div>
<div class="clearFloat clearFloat-news"></div>
<th:block th:replace="fragments/footer :: footer"></th:block>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/core.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="../static/js/custom.js" th:src="@{../js/custom.js}"></script>
<script src="../../static/js/jQuery.min.js" th:src="@{/js/jQuery.min.js}"></script>

</html>